<div class="page-header">
    <div id="friendly-header">
        friendly
    </div>
    <div id="bakery-header">
        MUFFINS
    </div>
</div>

<div class="product-display">
    <div class="product">
        <div class="image-box-type-one">
        <img src="images/blueberry-muffin.jpg" alt="Blueberry Muffins" class="muffins-image">
        </div>
        <div class="product-name"><%= @blueberry.type %></div>
        <p class="intro-box"><%= @blueberry.description %></p>
        <p class="price"><%= @blueberry.price %></p>
    </div>
    <div class="product">
     <div class="image-box-type-one">
        <img src="images/Banana-Mini-Loaves.png" alt="Banana Nut Mini Loaves" class="muffins-image">
        </div>
        <div class="product-name"><%= @banana_nut.type %></div>
        <p class="intro-box"><%= @banana_nut.description %></p>
        <p class="price"><%= @banana_nut.price %></p>
    </div>
    <div class="product">
     <div class="image-box-type-one">
        <img src="images/cheddar-biscuit.jpg" alt="Cheddar Biscuit" class="muffins-image">
        </div>
        <div class="product-name"><%= @cheddar_biscuit.type %></div>
        <p class="intro-box"><%= @cheddar_biscuit.description %></p>
        <p class="price"><%= @cheddar_biscuit.price %></p>
    </div>
</div>